body{
    margin: 0;
    padding: 0;
}

#root{
    width: 100%;
}

header{
    border-bottom: 1px solid #434343;

    header h1{

        font-family: Arial, Helvetica, sans-serif;
        color: #5a0bbc;
    }
}

.personer, .ak {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid #434343;
}

.arbeidskrav-card{
    border-bottom: 1px solid #434343;
    padding-bottom: 5px;
}
/* main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
} */